.wrapper_moveList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 99%;
  height: auto;
  margin: 0 auto;
}
.wrapper_moveList .wrapper_title_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  top: -90px;
  font-size: 23px;
  font-weight: 600;
  opacity: 0.6;
}
.wrapper_moveList .title_all_move {
  font-size: 25px;
  color: #696969;
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: 2px;
}
.wrapper_moveList .spiner {
  margin-top: 10vh;
}
.wrapper_moveList .wrapper_posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}
.wrapper_moveList .border_posters {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.wrapper_moveList .wrapper_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper_all {
  position: relative;
}

.wrapper_title_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  top: -8px;
  font-size: 23px;
  font-weight: 600;
  opacity: 0.6;
}