
.wrapper_moveList {
    display: flex;
    justify-content: space-around;
    width: 99%;
    height: auto;
    margin: 0 auto;

    .wrapper_title_app {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
        position: relative;
        top: -90px;
        font-size: 23px;
        font-weight: 600;
        opacity: 0.6;
    }

    .title_all_move {
        font-size: 25px;
        color: #696969;
        opacity: 0.4;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .spiner {
        margin-top: 10vh;
    }

    .wrapper_posters {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 33%;
    }

    .border_posters {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }

    .wrapper_card {
        display: flex;
        gap: 10px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.wrapper_all {
    position: relative;
}

.wrapper_title_app {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    position: relative;
    top: -8px;
    font-size: 23px;
    font-weight: 600;
    opacity: 0.6;
}

