.wrapper_moveList {
    display: flex;
    width: 98%;
    height: auto;
    margin: 0 auto;
    color: black;
    justify-content: space-around;

    .wrapper_add_testers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
    }

    .wrapper_testers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        
    }

    .wrapper_card_tester {
        display: flex;
        width: 660px;
        border: 2px solid;
        border-radius: 10px;
        height: 95px;
        align-items: center;
        justify-content: space-around;
        font-weight: 600;
        padding: 10px;
    }

    .wrapper_user_logo {
        width: 10%;  
        margin-right: 10px;   
    }

    .fio_info {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 50%;
    }

    .number_info{
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: 32%;
    }

    .button_edit{
        display: flex;
        flex-direction: column;
        width: 5%;
    }
}