.wrapper_move_page{
    width: 81%;
    height: auto;
    margin: 0 auto;

    .wrapper_content {
        display: flex;
        gap: 30px;
        font-family: "Source Sans Pro";
        background-color: white;
        border-radius: 11px;
        padding: 20px;
        flex-direction: column;
        color: black;
        font-size: 16px;
    

        .wrapper_movie_logo {
            border-radius: 10px 10px;
        }

        .wrapper_movie_text{
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 30px;

            .wrapper_title_movie {
                font-size: 32px;
                font-weight: 600;
            }

            .wrapper_description_movie {
                font-size: 20px;
                width: 70%;
                line-height: 1.5em;
                font-weight: 400;       
            }

            .wrapper_btn {
                display: flex;
                gap: 20px;
            }

            .btn_move_page {
                font-family: "Source Sans Pro";
                cursor: pointer;
                padding: 0.75rem 0.6rem;
                font-size: 0.75rem;
                font-weight: bold;
                letter-spacing: 0.025rem;
                text-transform: uppercase;
                color: #272727;
                border-radius: 5px 5px;
                background-color: #F0EBDF;
                border: none;
                width: 147px;
                height: 45px;
                
                &:hover {
                  background-color: lighten(black, 5%);
                }
                
                &:focus {
                  outline: 1px #66FCF1;
                  outline-offset: 3px;
                }
            }

            .favorites {
                font-family: 'Source Sans Pro';
                cursor: pointer;
                padding: 0.75rem 1.5rem;
                font-size: 0.65rem;
                font-weight: bold;
                letter-spacing: 0.025rem;
                text-transform: uppercase;
                width: 48px;
                height: 48px;
                background: url(./../../../image/icons_favorite_on.png) no-repeat;
                background-size: 60%;
                background-position: center;
                border-radius: 25px 25px;
                background-color: #F0EBDF;
                border: none;
                
                &:hover {
                background-color: lighten(black, 5%);
                }
                
                &:focus {
                outline: 1px #66FCF1;
                outline-offset: 3px;
                }
            }

            .favorites_on {
                font-family: 'Source Sans Pro';
                cursor: pointer;
                padding: 0.75rem 1.5rem;
                font-size: 0.65rem;
                font-weight: bold;
                letter-spacing: 0.025rem;
                text-transform: uppercase;
                width: 48px;
                height: 48px;
                background: url(./../../../image/icons_favorite.png) no-repeat;
                background-size: 60%;
                background-position: center;
                border-radius: 25px 25px;
                background-color: black;
                border: none;
                
                &:hover {
                background-color: lighten(black, 5%);
                }
                
                &:focus {
                outline: 1px #66FCF1;
                outline-offset: 3px;
                }
            }
        }

        .wrapper_video {
            position: absolute;
            width: 60%;
            height: 100%;
            top: 74%;
            left: 22%;
        }

        .btn_edit {
            width: 20%;
            margin-left: 10px;
        }

        .wrapper_checkbox {
            display: flex;
            flex-direction: column;
        }
    }
}